
.container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   margin: auto;
   max-width: 1000px;
   border-radius: 10px;
   opacity: 0.9;
}

h3 {
   font-size: 1.1em;
}

h4 {
   font-size: 1.1em;
}

.container-with-padding {
   padding: 40px;
 }

 @media only screen and (max-width: 992px) {
   .container {
     flex-direction: column;
     align-items: center;
     min-width: 350px;
     margin: 0;
   }
   
   .container-with-padding {
     padding: auto;
   }
 }
 