<!-- projects.html -->

{% extends 'main/main.html' %}
{% load static %}
{% block content %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/projects.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>

<body class="w3-light-grey">

  <!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
  <div class="w3-content centered-content">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
      <h1 style="color: white;"><b>My Projects</b></h1>
    </header>

    <!-- Project entries -->
    <div class="project-entries">
      <div class="w3-card-4 w3-white project-entry">
        <div class="w3-container">
          <h3><b>Pacman RL</b></h3>
        </div>
        <div class="w3-container">
            <p>This project focuses on developing a Reinforcement Learning (RL) model or the classic game of Pacman, utilizing the codebase provided by UC Berkeley. The goal is to train an RL agent that can navigate the Pacman game environment, collect rewards, and avoid ghosts to achieve high scores.</p>
            <p><a href="https://github.com/othmaneechc/pacman-RL" class="w3-button w3-padding-large w3-left w3-white">GitHub Repository</a></p>
        </div>
      </div>
    </div>

  </div>

</body>

{% endblock %}
